* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
#main{
    
    width: 30%;
    background-color: blueviolet;
    height: 90vh;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
}
#main img {
    margin-top: 1rem;
    width: 15%;
}

h2 {
    padding: 0.3rem;
    margin-top: rem;
    font-size: 1.5em;
    text-decoration: underline;
    padding-bottom: 1.5rem;
}
#box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
}
#box div{
    background-color: rgb(98, 61, 211);
    width: 20%;
    height: 100px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#box h2{
    font-size: 1rem;
    text-decoration: none;
    padding-top: 2rem;
}
#popup1{
    width: 25%;
    background-color: rgb(75, 181, 151);
    position: fixed;
    top: 35%;
    left: 38%;
    padding: 2rem;
    border-radius: 5px;
    display: none;
}
#popup1 label{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#popup1 input{
    width: 100%;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0.4rem;
    margin: 0.8rem 0;
    border-radius: 5px;
    border: none;
}
#popup1 button{
    width: 100%;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem ;
    display: block;
    margin: auto;
    border: none;
    border-radius: 30px;
    margin-top: 2rem;
}
#popup1-process{
    width: 25%;
    background-color: rgb(20, 132, 196);
    position: fixed;
    top: 46%;
    left: 38%;
    padding: 2rem;
    border-radius: 5px;
    display: none;
}
#popup1-sucess{
    width: 25%;
    background-color: rgb(42, 157, 16);
    position: fixed;
    top: 40%;
    left: 38%;
    padding: 1rem;
    border-radius: 5px;
    display: none;
    
}
#popup1-sucess img{
    width: 20%;
    border-radius: 100%;
    display: block;
    margin: auto;
    text-align: center;
}
#popup1-sucess h3{
    text-align: center;
    padding-top: 1rem;
}
#popup1-sucess button{
    width: 100%;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem ;
    display: block;
    margin: auto;
    border: none;
    border-radius: 30px;
    margin-top: 2rem;
}


@media screen and (max-width:450px) {
    #main{
        width: 80%;
    }
    
}
